# Tuple - ()

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different characteristics and use cases.
- A Tuple in Python is an **ordered** collection of values, similar to a list. 
- Tuples can hold values of different data types making them **heterogenous**'
- Cannot add, remove or modify values, hence are **immutable**.
- Tuples are **indexable** i.e. elements of the tuple can be accessed using zero-based indexing.
- And since tuples are indexed, they **can have duplicates**.

In [1]:
fruits = ('apple', 'banana', 'cherry')

In [2]:
len(fruits)

3

In [3]:
fruits[0]

'apple'

In [4]:
print(fruits[1])

banana

#### Defaulting to Tuples
You can skip the () while creating a tuple. Python automatically converts comma-seperated values into a tuple

In [5]:
veggies = 'carrots', 'potatoes', 'onions'
veggies

('carrots', 'potatoes', 'onions')

In [6]:
type(veggies)

tuple

You can also create a tuple with just one element by typing a comma after it. Just wrapping one element within a () won't make it a tuple

In [7]:
list1 = 4,
list1

(4,)

In [8]:
type(list1)

tuple

In [9]:
list2 = (3)
list2

3

In [10]:
type(list2)

int

Tuples are often used to create multiple variables with a single statement.

In [11]:
point = 7, 8
type(point)

tuple

In [12]:
x, y = point
print(x)
print(y)

7
8

#### List to Tuples
You can convert a list into tuple using ```tuple``` function, and vice versa using the ```list``` function

In [13]:
fruits

('apple', 'banana', 'cherry')

In [14]:
fruits_list = list(fruits)
print(fruits_list)
print(type(fruits_list))

['apple', 'banana', 'cherry']
<class 'list'>

In [15]:
fruits_tuple = tuple(fruits_list)
print(fruits_tuple)
print(type(fruits_tuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

## Tuple Methods

### count()

In [16]:
fruits_tuple.count('cherry')

1

### index()

In [17]:
fruits_tuple.index('banana')

1

You can perform ```indexing``` and ```slicing``` on Tuple similarly like Lists\
You can also check if an item exists in Tuple using ```in``` operator

## Tuple Immutability
Tuple items cannot be changed, added or removed so to perform any modification, you can convert it into a list, make modification and convert it back to tuple.

In [18]:
tuple1 = ('item', 2, 3.14, 'Alex', True)

In [19]:
list1 = list(tuple1)

In [20]:
list1

['item', 2, 3.14, 'Alex', True]

In [21]:
list1.append('cars')

In [22]:
list1

['item', 2, 3.14, 'Alex', True, 'cars']

In [23]:
list1.remove(2)
list1

['item', 3.14, 'Alex', True, 'cars']

In [24]:
list1.insert(1, '57 + 21')
list1.pop()

list1

['item', '57 + 21', 3.14, 'Alex', True]

In [25]:
list1.extend(['Hello!', 7.667, [1, 2, 'abc']])
list1

['item', '57 + 21', 3.14, 'Alex', True, 'Hello!', 7.667, [1, 2, 'abc']]

In [26]:
list1.pop(3)
list1

['item', '57 + 21', 3.14, True, 'Hello!', 7.667, [1, 2, 'abc']]

In [27]:
list1.pop(2)
list1

['item', '57 + 21', True, 'Hello!', 7.667, [1, 2, 'abc']]

In [28]:
tuple1

('item', 2, 3.14, 'Alex', True)

In [29]:
tuple1 = tuple(list1)
tuple1

('item', '57 + 21', True, 'Hello!', 7.667, [1, 2, 'abc'])

## Unpacking Tuples

When we create a tuple, we normally assign values to it. This is called **packing** a tuple.
But in Python, we are also allowed to extract the values back into variables. This is called **unpacking**.

In [32]:
fruits

('apple', 'banana', 'cherry')

In [33]:
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

If the number of variables is less than the number of values, you can add an ```*``` to the variable name and the values will be assignes to the variable as a list

In [34]:
fruits = ('apple', 'banana', 'cherry', 'dates', 'plum', 'kiwi')

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'dates', 'plum', 'kiwi']

In [35]:
type(green)

str

In [36]:
type(red)

list

In [37]:
(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'dates', 'plum']
kiwi

## Concat Tuples
You can join tuples by Concatenation just like lists

In [38]:
my_list = (1, 2, 3)
new_elements = (4, 5, 6)
combined_list = my_list + new_elements
print(combined_list)

(1, 2, 3, 4, 5, 6)

In [39]:
list3 = (1, 2, 3)
x = 4,
list3 += x

print(list3)

(1, 2, 3, 4)

## Multiply Tuples

In [40]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Delete Tuple
You can also use the ```del``` keyword to delete a tuple completely.

In [30]:
fruits_tuple

('apple', 'banana', 'cherry')

In [31]:
del fruits_tuple