# Sets - {}
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
- A Set in Python is an **unordered** collection of values. 
- Sets can hold values of different data types making them **heterogenous**.
- Can support operations to **add or remove** existing elements, hence making them **mutable**. 
- Sets are **Unindexable** as elements in a set do not maintain a specific order. Hence, you **cannot change** the items in a Set.
- And since Sets are unindexed, they **cannot have duplicates**. Sets automatically handle duplicate values, ensuring each element is unique.
- **Hashable Elements**: Only immutable (hashable) data types can be elements of a set (e.g., numbers, strings, tuples). Mutable types like lists or dictionaries cannot be direct elements of a set.

---
## Creating a Set

In [1]:
set1 = {"apple", "banana", "cherry"}
print(set1)

{'apple', 'cherry', 'banana'}

In [3]:
set2 = {"apple", "banana", "cherry", "apple"}   #no duplicates
print(set2)

{'apple', 'cherry', 'banana'}

In [5]:
set3 = {"apple", "banana", "cherry", True, 1, 2}   # True and 1 is considered the same value. Same for False and 0
print(set3)

{True, 2, 'banana', 'apple', 'cherry'}

In [11]:
set1 = {"abc", 34, True, 40, "male"}     # can contain different data types
set1

{34, 40, True, 'abc', 'male'}

#### ```len``` function

In [6]:
len(set3)

5

In [13]:
print("Number of elements in Set 2:", len(set2), "items")

Number of elements in Set 2: 3 items

In [14]:
type(set2)

set

#### ```set()``` constructor

In [15]:
set1 = set(("apple", "banana", "cherry")) # note the double round-brackets
set1

{'apple', 'banana', 'cherry'}

---
## Access Set Items
You cannot access items in a set by referring to an index or a key.\
But you can loop through the set items using a ```for``` loop, or ask if a specified value is present in a set, by using the ```in``` keyword.

In [18]:
set1 = {"apple", "banana", "cherry"}

for x in set1:
  print(x)

apple
cherry
banana

In [19]:
set2 = {"apple", "banana", "cherry"}
"banana" in set2

True

*.... more on `for` loop concept is discussed in another dedicated file*

---
## Set Methods
Python has a set of built-in methods that you can use on sets

### Add Items

#### ```add()```

Once a set is created, you cannot change its items, but you can add new items.

In [22]:
set1 = {"apple", "banana", "cherry"}
set1

{'apple', 'banana', 'cherry'}

In [27]:
set1.add("orange")
set1

{'apple', 'banana', 'cherry', 'orange'}

#### ```update()```
Adds items from another set into the current set.\
Keep in mind that it **changes the original set**, and does not return a new set.

In [25]:
fruits = {"apple", "banana", "cherry"}
fruits

{'apple', 'banana', 'cherry'}

In [26]:
tropical = {"pineapple", "mango", "papaya"}
fruits.update(tropical)

fruits

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

#### Add Any Iterable

In [28]:
set1 = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
set1.update(mylist)

print(set1)

{'banana', 'kiwi', 'apple', 'orange', 'cherry'}

### Remove Items

#### ```remove()```

In [29]:
fruits = {"apple", "banana", "cherry"}
fruits

{'apple', 'banana', 'cherry'}

In [30]:
fruits.remove("banana")
fruits

{'apple', 'cherry'}

#### ```discard()```

In [32]:
fruits.discard("apple")
fruits

{'cherry'}

If the item to remove does not exist, discard() will NOT raise an error.

#### ```pop()```
You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [34]:
fruits = {"apple", "kiwi", "cherry", "mango"}
x = fruits.pop()

print(x)
print(fruits)

kiwi
{'apple', 'cherry', 'mango'}

#### ```clear()```

In [39]:
set1 = {"apple", "banana", "cherry"}
set1.clear()
set1

set()

#### del

In [40]:
del set1
# set1     # will raise an error

### Join Sets
There are several ways to join two or more sets in Python

#### union()
Returns a new set with **all items from both sets**.

In [1]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b', 'c'}

##### | - union operator

In [2]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

##### Multiple Sets

In [4]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
myset

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [7]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"carrots", "potatoes"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
myset

{1, 2, 3, 'a', 'apple', 'b', 'bananas', 'c', 'carrots', 'cherry', 'potatoes'}

##### Join a Set and a Tuple

In [10]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
z

{1, 2, 3, 'a', 'b', 'c'}

... update() method discussed earlier

#### intersection()
Will return a new set, that only contains the items that are **present in both sets**.

In [14]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
set3

{'apple'}

In [17]:
set1 = {"apple", 1,  "banana", 0, "cherry", 'True'}
set2 = {False, "google", 1, "apple", 2, True, "True"}

set3 = set1.intersection(set2)
set3          # True and 1 taken as duplicates, same for False and 0

{1, False, 'True', 'apple'}

##### & - intersection operator
The ```&``` operator only allows you to **join sets with sets**, and not with other data types like you can with the intersection() method.

In [12]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
set3

{'apple'}

##### intersection_update()
The intersection_update() method will also keep ONLY the duplicates, but it will **change the original set** instead of returning a new set.

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
set1

{'apple'}

#### difference()
Will return a new set that will contain only the **items from the first set that are NOT present in the other set**.

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
set3

{'banana', 'cherry'}

In [19]:
set4 = set2.difference(set1)
set4

{'google', 'microsoft'}

##### - difference operator
The - operator only allows you to **join sets with sets**, and not with other data types like you can with the difference() method

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
set4 = set2 - set1
print(set3)
print(set4)

{'banana', 'cherry'}
{'microsoft', 'google'}

##### difference_update()
Will also keep the items from the first set that are not in the other set, but it will **change the original set** instead of returning a new set.

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
set1

{'banana', 'cherry'}

#### symmetric_difference()
Will keep only the **items that are NOT present in both sets**.

In [23]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
set3

{'banana', 'cherry', 'google', 'microsoft'}

##### ^ - symmetric_difference operator
Allows you to **join sets with sets**, and not with other data types like you can with the symmetric_difference() method.

In [24]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
set3

{'banana', 'cherry', 'google', 'microsoft'}

In [25]:
set1

{'apple', 'banana', 'cherry'}

##### symmetric_difference_update()
Will also keep all but the duplicates, but it will **change the original set** instead of returning a new set.

In [26]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
set1

{'banana', 'cherry', 'google', 'microsoft'}

---
## More Set Methods
- ```copy()``` - Returns a copy of the set
- ```isdisjoint()``` - Returns whether two frozensets have an intersection
- ```issubset()``` - Returns True if this frozenset is a (proper) subset of another
- ```issuperset()``` - Returns True if this frozenset is a (proper) superset of another

---
## Frozenset
```frozenset``` is an immutable version of a set.\
Like sets, it contains unique, unordered, unchangeable elements.\
Unlike sets, elements cannot be added or removed from a frozenset.

In [29]:
# Creating a frozenset from any iterable using the 'frozenset()' constructor
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

### Frozenset Methods
Being immutable means you cannot add or remove elements.\
However, frozensets support all non-mutating operations of sets.
- ```copy()``` - Returns a shallow copy
- ```difference()``` - Returns a new frozenset with the difference
- ```intersection()``` - Returns a new frozenset with the intersection
- ```isdisjoint()``` - Returns whether two frozensets have an intersection
- ```issubset()``` - Returns True if this frozenset is a (proper) subset of another
- ```issuperset()``` - Returns True if this frozenset is a (proper) superset of another
- ```symmetric_difference()``` - Returns a new frozenset with the symmetric differences
- ```union()``` - Returns a new frozenset containing the union